<!--The content below is only a placeholder and can be replaced.-->
<div class="parent">
  <div>
    <h4>
      CUSS 2.0 Initiation calls
    </h4>
    <ul>
      <li *ngIf="token$ | async">
        Token: <span class="good-text">Acquired</span>
      </li>
      <li *ngIf="listener_created$ | async">
        Listener <span class="good-text">Stablished</span>
      </li>
      <li *ngIf="environmentData$ | async">
        Environment <span class="good-text">Received</span>
      </li>
      <li *ngIf="components$ | async">
        Components
        <span class="good-text">
          Received <b>{{components$.getValue().length}}</b>
        </span>
      </li>
    </ul>
  </div>
  <div *ngIf="components$ | async">
    <h4>
      Querying Devices
    </h4>
    <ul>
      <li *ngFor="let device of components$ | async" class="devices">
        <span>{{device.componentDescription}}</span>
        <span
          class="status"
          [ngClass]="{'good': device.eventCode =='EC_OK', 
          'bad': (device.eventCode == 'UNAVAILABLE_RELEASED_PLATFORM' 
          || device.eventCode == 'EVENTHANDLING_UNAVAILABLE' 
          || device.eventCode == 'RELEASED_UNAVAILABLE' 
          || device.statusCode == 'NOT_RESPONDING' 
          || device.statusCode == 'NOT_REACHABLE' 
          || device.statusCode == 'HARDWARE_ERROR')}"
        ></span>
      </li>
    </ul>
  </div>
  <div *ngIf="query_completed | async">
    <h4>
      Required Devices
    </h4>
    <ul>
      <li *ngFor="let comp of requiredDevices" class="devices">
        <span>{{comp.name}}</span>
        <span class="status" [ngClass]="{'good': comp.found }"></span>
      </li>
    </ul>
  </div>
  <div *ngIf="validation_completed | async">
    <h4>
      Application State
    </h4>
    <span *ngIf="available | async" class="good-text">Available</span>
    <span *ngIf="unavailable | async" class="bad-text">UnAvailable</span>
    <span *ngIf="wrongstate | async" class="bad-text">Wrong State</span>
  </div>
</div>
